<!DOCTYPE html>
<html ng-app="ipsApp" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->

  <title>Activity Monitor</title>
</head>
<body>
<div class="container">
  <h1>IPS Status Centre</h1>

  <div ng-controller="HostListController as hostList" ng-model="currentHost">
    <div class="col-xs-6 ">
      <div class="list-group">
        <a class="list-group-item" href ng-click="hostList.currentHost = host;" ng-repeat="host in hostList.hosts()">{{host}}</a>
      </div>
    </div>
    <div class="col-xs-6">
      <pre>Ban timeout:<span>{{hostList.currentBan(hostList.currentHost)}}</span></pre>
      <h2>Recent Failed Attempts</h2>
      <table class="table table-striped">
        <tr ng-repeat="event in hostList.events(hostList.currentHost)"><td>{{event}}</td></tr>
      </table>
    </div>
    <div>{{hostList.ipsInfo}}</div>
  </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="script/angular.min.js"></script>
<script src="script/ips.js"></script>
</body>
